!!!
%html
  %head
    %title Twitter followers
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/screen.css' }
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html; charset=UTF-8' }
  
  %body
    .container
      = yield